header {
    border-bottom: 10px;
}

body {
    background-color: #f6f6f6;
    margin: 0;
}

.logo {
    font-family: fantasy,serif;
    margin-left: 10px;
}

.logo a {
    text-decoration: none;
    color: black;
}

.site-header {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid black;
}

.wrapper {
    margin: 0 10px;
}

section {
    background-color: white;
    margin: 10px auto 20px auto;
    width: 95%;
}

strong {
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.discription {
    margin-top: 20px;
}

.flex {
    display: flex;
}

h2 {
    margin-top: 10px;
    padding: 10px;
    border-left: 8px solid rgb(2, 163, 37);
    border-right: 8px solid rgb(2, 163, 37);
    background-color: #f6f6f6;
    display: inline-block;
}

h3 {
    margin-top: 50px;
    padding: 10px;
    border-left: 8px solid skyblue;
    background-color: #f6f6f6;
    display: inline-block;
}

h4 {
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    padding: 10px 0 10px 5px;
    margin: 50px 0 10px 0;
}

.ranking {
    font-weight: bold;
}

img {
    width: 30%;
    margin-bottom: 10px;
    border-radius: 12px;
}

p {
    margin: 20px 0;
}


.site-footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 30px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    margin-top: 30px;
}

th {
    padding: 10px;
    border: 1px solid #ccc;
}
td {
    padding: 10px;
    border: 1px solid #ccc;
}

#table-title {
    margin-top: 20px;
}

#last {
    padding-bottom: 20px;
    margin-left: 20px;
}

.site-footer p {
    margin: 5px 0;
}

iframe {
    width: 100%;
}

@media screen and (min-width: 1px) and (max-width: 470px) {
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16.5px;
    }
    h4 {
        font-size: 14px;
    }
    img {
        width: 80%;
    }
    iframe {
        height: 350px;
    }
}
